@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap') ;

* {
  margin: 0;
  padding: 0;
}

body {

  /* background-image: url('./assets/images/svg/background-blue.svg'); */
  background: linear-gradient(289.33deg, #003be5 -3.32%, #00d5e2 72.67%);
  background-size: cover;
  font-family: Epilogue , sans-serif;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #c0c3c9;
  border-radius: 20px;
}

body > div {
  height: 100%;
  width: 100%;
}

.page-with-header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.general-page-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  left: 250px;
  position: absolute;
  width: calc(100% - 250px);
}

.no-show {
  display: none;
}

.general-article-header {
  align-items: center;
  display: flex;
  height: 32.5vh;
  justify-content: center;
  width: 100%;
}

.general-results {
  background: #eff3f9;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100% - 32.5vh);
}
