.album-card {
  height: 300px;
  margin: 0 12px;
  overflow: hidden;
  width: 200px;
}

.album-link {
  text-decoration: none;
}

.album-img-in-search {
  border-radius: 10px;
  height: 200px;
  left: calc(50% - 200px/2 - 213px);
  mix-blend-mode: normal;
  top: calc(50% - 200px/2 + 114px);
  width: 200px;
}

.album-title-in-search {
  color: #3d495c;
  font-size: 12.067px;
  font-weight: 700;
  left: calc(50% - 147px/2 - 239.5px);
  line-height: 150%;
  margin: 13px 0 6px;
  text-decoration: none;
  top: calc(50% - 18px/2 + 236.45px);
}

.album-artist-in-search {
  color: #3d495c;
  font-size: 9.052px;
  font-weight: 400;
  left: calc(50% - 147px/2 - 239.5px);
  line-height: 150%;
  top: calc(50% - 14px/2 + 255.45px);
}
