header {
  align-items: center;
  background: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 250px;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  width: 68%;
}

.logo-header {
  align-self: center;
  width: 170px;
}

.profile-image {
  border-radius: 19.608px;
  height: 40px;
  width: 40px;
}

.link-div {
  align-items: center;
  display: flex;
  margin: 50px 0;
}

.link-div img {
  margin-right: 21px;
}

.link-header, .profile-data-in-header span {
  color: #444955;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: capitalize;
}

.profile-data-in-header {
  align-items: center;
  display: flex;
}

.profile-data-in-header img {
  margin-right: 13px;
}
