.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFF3F9;
}

.loading-text {
  margin-top: 37px;
  font-size: 48.9205px;
  line-height: 50px;
  text-align: center;
  color: #C0C3C9;
}