.loading-container {
  align-items: center;
  background-color: #eff3f9;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loading-text {
  color: #c0c3c9;
  font-size: 48.92px;
  line-height: 50px;
  margin-top: 37px;
  text-align: center;
}
