.login-body {
  align-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.page-login {
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(68, 73, 85, 0.2);
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 750px;
}

.page-login h1 {
  display: none;
}

.login-name-label {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.login-name-input {
  border: 1px solid #003be5;
  border-radius: 100px;
  box-sizing: border-box;
  color: #003be5;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 14px;
  margin-bottom: 6px;
  text-align: center;
  width: 400px;
}

.login-name-input::placeholder {
  color: #003be5;
}

.login-submit-button {
  background: #003be5;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  top: 464px;
  width: 400px;
}

.login-submit-button:hover {
  background: white;
  border-color: #003be5;
  color: #003be5;
}

.login-submit-button:active {
  background: #003be5;
  color: white;
}

.login-submit-button:disabled:hover {
  background: gray;
  border-color: gray;
  color: white;
}
