.page-not-found {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.ops {
  color: #003be5;
  font-size: 122.263px;
  font-weight: 600;
  height: 66.02px;
  letter-spacing: 0.02em;
  line-height: 125px;
}

.not-found-text {
  color: #00d5e2;
  font-size: 36.67px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 40px;
  margin-left: 30px;
  width: 300px;
}
