.page-profile {
  background: linear-gradient(233.85deg, #003be5 9.07%, #00d5e2 61.81%);
}

.profile-image-big {
  background-color: white;
  border-radius: 240px;
  filter: drop-shadow(-9px 8px 8px rgba(0, 0, 0, 0.2));
  height: 240px;
  left: 100px;
  position: absolute;
  transform: translateY(-50%);
  width: 240px;
  z-index: 3;
}
