.page-search {
  background: linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.52%);
}

.search-artist-label {
  position: relative;
}

.search-artist-label img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-60%, -50%);
}

.search-artist-input {
  width: 335px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 23px;
  border: none;
  padding: 0 45px 0 20px;
}

.search-artist-input, .search-artist-input::placeholder {
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  font-family: 'Epilogue', sans-serif;

}

.search-artist-button {
  background: #00d5e2;
  border-radius: 23px;
  color: white;
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
  width: 114px;
  border: none;
  margin-left: 10px;
}

.album-results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
}

.album-not-found-div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column ;
  align-items: center;
}

.album-not-found-img {
  height: 69.04px;
  width: 69.04px;
  margin-bottom: 30px;
}

.album-not-found-text {
  width: 448px;
  height: 31px;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  text-align: center;
  color: #C0C3C9;
}

.search-title {
  height: 24.89px;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #003BE5;
  margin: 63px 0 52px;
}

.album-results::-webkit-scrollbar {
  width: 12px;
}

.album-results::-webkit-scrollbar-thumb {
  background-color: #C0C3C9;
  border-radius: 20px;
}
